@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

body {
    background-color: #F2F2F2;
}

header, main, footer {
    background-color: rgb(249, 249, 249);
    width: 700px;
    margin: 0 auto;
}

header {
    position: relative;
}

nav {
    width: 350px;
    position: absolute;
    right: 0;
    top: 75px;
    text-align: right;
}

nav ul {
    padding-right: 10px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    color: grey;
}

nav ul li a:visited {
    color: grey;
}

nav ul li a:hover {
    color: red;
}

nav ul li a:active {
    position: relative;
    top: 2px;
    left: 2px;
}

main {
    height: 500px;
}

footer p#copy-notice {
    text-align: center;
    font-size: 12px;
    font-family: 'Zilla Slab', serif;
    color: #3B3432;
    padding: 12px 0;
}

/* Contact Page */

main div#first-column, main div#second-column {
    vertical-align: top;
    height: 500px;
    display: inline-block;
}

main div#first-column {
    width: 467px;
}

main div#first-column form{
   
}

main div#second-column {
    width: 233px;
}